# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\donat\Desktop\INGSWPROJ\.idea/dataSources/
/dataSources.local.xml

target
/src/main/it/polimi/ingsw/model/json/gameState